// index
.index_data {
  margin-top: 50px;
  table {
    border-collapse: collapse;
    border-right: 1px solid #999;
    width: 100%;
  }

      .first-table table {
        width: 99%;
      }

      .second-table table {
        width: 88%;
      }

      table thead th{
        padding: 8px 4px;
        vertical-align: middle;
        color: #fff;
        background-color: #295890;
        border-left: 5px solid #ff6633;
        font-weight: normal;
        text-align: left;
      }

      table td {
        padding: 4px;
        background-color: #fff;
        border-bottom: 1px solid #999;
        border-left: 1px solid #999;
        font-size: small;
        text-overflow: visible;
      }

  .first-context {
    margin-bottom: 10px;
  }

  .text:before, .text:after {
    		content: "";
    		display: block;
      }

      .text:after {
        clear: both;
      }

      .text {
         zoom: 1;
       }

          .text .left {
            float: left;
            width: 30%;
          }

          .text .right {
            float: right;
            width: 18%;
          }

}


//// DataTable
#usersdatatable_filter {
  margin-bottom: 20px;
}

.usr_index table{
  table-layout: fixed;
  word-wrap:break-word;

  thead:hover, th:hover, select:hover {
    cursor: pointer;
  }
}

    table.dataTable {
      border-bottom: 1px solid #eee !important;

      thead th {
        border-bottom: none !important;
        padding: 0px !important;
        text-align: left !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      thead td {
        padding: 10px 0 !important;
        text-align: left !important;
      }

      tfoot th {
        border-top: 1px solid #eee !important;
      }
    }

    .dataTables_wrapper.no-footer .dataTables_scrollBody {
      border-bottom: 1px solid #eee !important;
    }

      #usersdatatable thead{
        display: none;
      }

      #usersdatatable thead td {
        border-top: 1px solid #eee;
        border-right: 1px solid #eee;

        &:first-child{
          border-left: 1px solid #eee;
        }
      }

      #usersdatatable td {
        padding: 10px;
      }

      #usersdatatable tbody {
        tr {
          border-left: 1px solid #eee;
        }

        td{
          border-right: 1px solid #eee;

          &:first-child{
            border-left: 1px solid #eee;
          }

          &:hover{
            overflow: visible;
            white-space: normal;
            height:auto;
          }
        }
      }

      #filters select {
        background-color: #fff;
        border-width: 0px;
        border-style: solid;
        border-image: initial;
        font-size: 13px;
        width: 100%;

        &:focus {
          outline: inherit;
          outline-offset: 0px;
          border-color: #fff;
        }
      }

      table.dataTable thead th select{
        padding: 8px 4px;
        text-align: left;
        vertical-align: top;
        color: #fff!important;
        background-color: #295890!important;
        border-left: 5px solid #ff6633!important;
        font-weight: normal;
        border-radius: 0;
        height: 36px;
      }

      #filters {
        select {
          -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
          -moz-appearance: none;	/* ベンダープレフィックス(Firefox用) */
          appearance: none;	/* 標準のスタイルを無効にする */
        }

        ::-ms-expand {	/* select要素のデザインを無効にする（IE用） */
          display: none;
        }
      }

      .dt-body-left input {
        width: 100%;
        font-size: 10px;
      }

      #usersdatatable_wrapper #filters th:first-child, #usersdatatable tbody tr td:first-child {
        width: 50px !important;
        padding-left: 0px;
        padding-right: 0px;
      }

// form
.form_data {
  zoom: 1;

   &:before {
     content: "";
     display: block;
   }

   &:after {
     content: "";
     display: block;
     clear: both;
   }

   .field {
     width: 12.5%;
     float: left;
     box-sizing: border-box;

     label {
       padding: 8px 4px;
       vertical-align: top;
       color: #fff;
       background-color: #295890;
       border-left: 5px solid #ff6633;
       font-weight: normal;
       text-align: left;
     }

     .input_container {
       padding: 8px 4px;
       background-color: #fff;
       border-bottom: 1px solid #999;
       border-left: 1px solid #999;
       font-size: small;

       input {
         width: 95%;
       }
     }

     .last_container {
       border-right: 1px solid #999;
     }
   }

}


.backto {
  margin-bottom: 20px;
}

#usersdatatable tbody tr td:first-child {
  text-align: center;
}

.reflectionTrigger {
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
  background: #ff6633;
  box-shadow: 0px 1px 4px 0px #777;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px #fff;
  }
}

h3 {
  margin-bottom: 30px;
}

// 吹き出し
.balloon3-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 0 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon3-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #ffcc75;
  z-index: 0;
}

.balloon3-right-btm {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 0 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon3-right-btm:before {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #ffcc75;
  z-index: 0;
  -webkit-transform: rotate(5deg);
  transform: rotate(45deg);
}

.balloon1, .balloon3 {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 0 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 11px;
  font-weight: bold;
  background: #ffcc75;
  border-radius: 50%;
  box-sizing: border-box;
}

.balloon1:before, .balloon3:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ffcc75;
  z-index: 0;
}

.point_inner {
  position: relative;
  display: inline-block;

  .balloon3 {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 200;
  }

  .balloon3-right-btm {
    position: absolute;
    bottom: -30px;
    right: -30px;
    z-index: 200;
  }

  .balloon3-left {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 200;
  }
}

#point1_modal, #point2_modal, #point3_modal, #point4_modal {
  display: none;
  z-index: 300;
  background: #FFF0D1;
  border: 3px solid #ffcc75;
  -webkit-border-radius: 5px;/* for Safari and Chrome */
  -moz-border-radius: 5px; /* for Firefox */
  -o-border-radius: 5px; /* for opera */
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px #000;
}

#point2_modal, #point4_modal {
  .point_details:nth-child(2) {
    border-top: 3px solid #ffcc75;
  }
}

#point3_modal {
  .point_details .sentence {
    width: 100%;
  }
}

.form_data {
  position: relative;

  #point1_modal {
    position: absolute;
    top: 10px;
    left: 250px;
    right: 200px;
  }

  #point2_modal {
    position: absolute;
    top: 80px;
    left: 110px;
  }
}

.usr_index {
  position: relative;

  #point3_modal {
    z-index: 100;
    position: absolute;
    top: 50px;
    left: 60px;
  }

  #point4_modal {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 150px;
  }
}

.form_data {
  position: relative;

  .point1 {
    z-index: 250;
    position: absolute;
    top: -70px;
    left: 500px;
  }

  .point2 {
    z-index: 250;
    position: absolute;
    bottom: 20px;
    left: 80px;
  }
}

.usr_index {
  position: relative;

  .point3 {
    z-index: 100;
    position: absolute;
    top: 20px;
    left: 40px;
  }

  .point4 {
    z-index: 100;
    position: absolute;
    top: -25px;
    right: 150px;
  }
}

.point_details {
  padding: 30px;
  zoom: 1;

   &:before {
     content: "";
     display: block;
   }

   &:after {
     content: "";
     display: block;
     clear: both;
   }

   .sentence {
     float: left;
     width: 70%;
   }

   .image {
     float: left;
     width: 30%;

     img {
       width: 100%;
     }
   }
}
